/* custom.css */

nav.categories > ul li > a {
  text-decoration: none;
  color: var(--text-1);
  font-weight: 700;
  position: relative;
  border: none !important;
  border-radius: 0 !important; /* Remove rounded corners */
  padding: 0.5rem 0.75rem;
  background:
    linear-gradient(
      to right,
      hsla(180, 50%, 60%, 0.75),
      hsla(180, 50%, 60%, 0.75)
    ),
    linear-gradient(
      to right,
      hsla(0, 100%, 50%, 0.75),
      hsla(320, 100%, 50%, 0.75),
      hsla(210, 100%, 40%, 0.75)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

nav.categories > ul li > a:hover {
  background-size: 0 3px, 100% 3px;
}

@media (min-width: 640px) {
  nav.categories > ul li > a {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    line-height: 1.25;
  }
}
